In [3]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ashik\Documents\Projects\EduGuard\data\student_performance_prediction.csv")
df.head()

,Student ID,Study Hours per Week,Attendance Rate,Previous Grades,Participation in Extracurricular Activities,Parent Education Level,Passed
0,S00001,12.5,NaN,75.0,Yes,Master,Yes
1,S00002,9.3,95.3,60.6,No,High School,No
2,S00003,13.2,NaN,64.0,No,Associate,No
3,S00004,17.6,76.8,62.4,Yes,Bachelor,No
4,S00005,8.8,89.3,72.7,No,Master,No

In [6]:
df.shape

(40000, 7)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 7 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Student ID                                   40000 non-null  object
 1   Study Hours per Week                         38005 non-null  float64
 2   Attendance Rate                              38008 non-null  float64
 3   Previous Grades                              38006 non-null  float64
 4   Participation in Extracurricular Activities  38000 non-null  object
 5   Parent Education Level                       38000 non-null  object
 6   Passed                                       38000 non-null  object
dtypes: float64(3), object(4)
memory usage: 2.1+ MB

In [8]:
df.isnull().sum()

Student ID                                        0
Study Hours per Week                           1995
Attendance Rate                                1992
Previous Grades                                1994
Participation in Extracurricular Activities    2000
Parent Education Level                         2000
Passed                                         2000
dtype: int64

In [9]:
df.drop(columns=["Student ID"], inplace=True)

In [12]:
num_cols = [
    "Study Hours per Week",
    "Attendance Rate",
    "Previous Grades"
]
for col in num_cols:
    df[col] = df[col].fillna(df[col].mean())

In [14]:
df['Study Hours per Week']

0        12.5
1         9.3
2        13.2
3        17.6
4         8.8
         ...
39995    15.6
39996    11.3
39997    13.1
39998    14.1
39999    11.8
Name: Study Hours per Week, Length: 40000, dtype: float64

In [16]:
cat_cols = [
    "Participation in Extracurricular Activities",
    "Parent Education Level",
    "Passed"
]
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [17]:

df.isnull().sum()

Study Hours per Week                           0
Attendance Rate                                0
Previous Grades                                0
Participation in Extracurricular Activities    0
Parent Education Level                         0
Passed                                         0
dtype: int64

In [18]:
df.isnull()

,Study Hours per Week,Attendance Rate,Previous Grades,Participation in Extracurricular Activities,Parent Education Level,Passed
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
39995,False,False,False,False,False,False
39996,False,False,False,False,False,False
39997,False,False,False,False,False,False
39998,False,False,False,False,False,False
39999,False,False,False,False,False,False

In [19]:
df["Passed"] = df["Passed"].map({"Yes": 1, "No": 0})

In [20]:
df = pd.get_dummies(
    df,
    columns=[
        "Participation in Extracurricular Activities",
        "Parent Education Level"
    ],
    drop_first=True
)

In [21]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 9 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Study Hours per Week                             40000 non-null  float64
 1   Attendance Rate                                  40000 non-null  float64
 2   Previous Grades                                  40000 non-null  float64
 3   Passed                                           40000 non-null  int64
 4   Participation in Extracurricular Activities_Yes  40000 non-null  bool
 5   Parent Education Level_Bachelor                  40000 non-null  bool
 6   Parent Education Level_Doctorate                 40000 non-null  bool
 7   Parent Education Level_High School               40000 non-null  bool
 8   Parent Education Level_Master                    40000 non-null  bool
dtypes: bool(5), float64(3), int64(1)
memory usage: 1.4 MB

,Study Hours per Week,Attendance Rate,Previous Grades,Passed,Participation in Extracurricular Activities_Yes,Parent Education Level_Bachelor,Parent Education Level_Doctorate,Parent Education Level_High School,Parent Education Level_Master
0,12.5,75.276323,75.0,1,True,False,False,False,True
1,9.3,95.300000,60.6,0,False,False,False,True,False
2,13.2,75.276323,64.0,0,False,False,False,False,False
3,17.6,76.800000,62.4,0,True,True,False,False,False
4,8.8,89.300000,72.7,0,False,False,False,False,True

In [22]:
df.to_csv("../data/cleaned_student_data.csv", index=False)