In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/cleaned_student_data.csv")
df.head()

,Study Hours per Week,Attendance Rate,Previous Grades,Passed,Participation in Extracurricular Activities_Yes,Parent Education Level_Bachelor,Parent Education Level_Doctorate,Parent Education Level_High School,Parent Education Level_Master
0,12.5,75.276323,75.0,1,True,False,False,False,True
1,9.3,95.300000,60.6,0,False,False,False,True,False
2,13.2,75.276323,64.0,0,False,False,False,False,False
3,17.6,76.800000,62.4,0,True,True,False,False,False
4,8.8,89.300000,72.7,0,False,False,False,False,True

In [4]:
df.shape

(40000, 9)

In [5]:
df.columns

Index(['Study Hours per Week', 'Attendance Rate', 'Previous Grades', 'Passed',
       'Participation in Extracurricular Activities_Yes',
       'Parent Education Level_Bachelor', 'Parent Education Level_Doctorate',
       'Parent Education Level_High School', 'Parent Education Level_Master'],
      dtype='object')

The dataset contains cleaned numerical and encoded categorical features.
The target variable is `Passed`.

In [6]:
y = df["Passed"]

In [7]:
X = df.drop(columns=["Passed"])

- `Passed` is the target variable.
- All remaining columns are treated as input features.

In [9]:
X.columns

Index(['Study Hours per Week', 'Attendance Rate', 'Previous Grades',
       'Participation in Extracurricular Activities_Yes',
       'Parent Education Level_Bachelor', 'Parent Education Level_Doctorate',
       'Parent Education Level_High School', 'Parent Education Level_Master'],
      dtype='object')

In [10]:
corr = df.corr()["Passed"].sort_values(ascending=False)
corr

Passed                                             1.000000
Attendance Rate                                    0.008913
Parent Education Level_Doctorate                   0.005824
Previous Grades                                    0.003061
Parent Education Level_High School                 0.002862
Parent Education Level_Bachelor                    0.002654
Participation in Extracurricular Activities_Yes   -0.000252
Parent Education Level_Master                     -0.003179
Study Hours per Week                              -0.009319
Name: Passed, dtype: float64

Correlation analysis shows that:
- Study Hours per Week
- Attendance Rate
- Previous Grades

have relatively higher correlation with the target variable.

At this stage, no features were removed.
All cleaned and encoded features are retained to allow the model to learn
complex relationships during training.

In [11]:
X.shape

(40000, 8)

The dataset is now ready for model training.
Feature selection is complete.